@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;600&family=Nunito:wght@300;400;600;700;800;900&display=swap');

header.header {
    width: 100%;
    background: rgb(32, 32, 36);
    position: fixed;
    top: 0;
    z-index: 1000;
}

header.header .bgHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    padding: 16px 24px;
    margin: 0 auto;
}

header.header .logo {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    cursor: pointer;
}

header.header .logo:hover h1 {
    color: var(--color-blue);
}

header.header .logo:hover h2 {
    color:  rgb(228, 228, 228);
}

header.header .logo h1 {
    font-size: 28px;
    color:   rgb(228, 228, 228);
    transition: all 0.3s;
    font-weight: 600;
}

header.header .logo h2 {
    font-size: 16px;
    margin-left: 4px;    
    color: var(--color-blue);
    font-weight: 600;
}

/* navigation */
header.header .bgHeader .navigation a{
    font-size: 18px;
    font-weight: 600;
    margin: 16px;
    border-radius: 8px;
    color: var(--color-orange);
    border-left: 1px solid var(--color-orange);
    border-bottom: 2px solid var(--color-orange);
    padding: 8px;
    transition: all 0.2s;
}

header.header .bgHeader .navigation a:hover {
    color: rgb(228, 228, 228);
    border-left: 1px solid  rgb(228, 228, 228);
    border-bottom: 2px solid rgb(228, 228, 228);
}