@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;600&family=Nunito:wght@300;400;600;700;800;900&display=swap');

header.header {
    width: 100%;
    background: rgb(9, 9, 10);
    top: 0;
    z-index: 1000;
    position: fixed;
}

header.header .bgHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    padding: 16px 24px;
    margin: 0 auto;
}
 
header.header .logo a{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    cursor: pointer;
} 

header.header .logo:hover h1 {
    color: rgb(228, 228, 228);
}

header.header .logo:hover h2 {
    color: var(--color-orange);
}

header.header .logo h1 {
    font-size: 28px;
    color: var(--color-orange);
    transition: all 0.6s;
    font-weight: 600;
    font-family:'IBM Plex Serif', sans-serif;
}

header.header .logo h2 {
    font-size: 16px;
    margin-left: 4px;    
    color: rgb(228, 228, 228);
    font-weight: 600;
    transition: all 0.3s;
    font-family:'IBM Plex Serif', sans-serif;
}

.btnMenu_open, .logoBtnMenu {
    display: none;
    visibility: hidden;
}

.menu .navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.menu-item-action {
    transition: 0.3s;
    text-align: center;
}

.menu-item-action svg {
    visibility: hidden;
    display: none;
}

/* navigation */
.menu-item-action{
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    text-align:center;
    color: rgb(228, 228, 228);
    border-bottom: 2px solid var(--color-orange);
    padding: 8px 16px;
    transition: all 0.2s;
} 

.menu-item-action:hover {
    color: var(--color-orange);
    border-bottom: 2px solid var(--color-orange);
}

@media (max-width: 800px) {
    .btnMenu_open, .logoBtnMenu, .menu-item-action svg{
        display: initial;
        visibility: initial;
    }
    .btnMenu {
        display: block;
        cursor: pointer;
    }

    .menu .navigation{
        display: block;
        padding: 16px 0 0;
        background: black;
    }

    .menu {
        position: absolute;
        background: rgba(18, 18, 20, 0.6);
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: transform 200ms linear;
    }

    .menu_open {
        transform: translateX(0);
    }

    .buttonMenu {
        font-size: 32px;
    }

    .logoBtnMenu .maxWd {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 24px 16px;
        margin: 0 auto;
    }

    .menu-item {
        border-bottom: 1px solid var(--color-orange);
    }

    .menu-item:last-child {
        border-bottom: none;
    }

    .menu-item-action {
        color: #9aa2a7;
        padding: 20px 15px 20px 20px;
        text-transform: uppercase;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        border-radius: 0;
        border-bottom: none;
    }

    .menu-item-action:hover {
        color: #c5d2da;
        border-bottom: none;
    }

}
