/* Section */
.home .social-icons {
    width: 100%;
    background: linear-gradient(to left top,
     #cc7d22, #cf3939,#c06850, #000, #000, #000);
    z-index: 1;
    position: relative;
}

.home .media {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0 3rem;
    max-width: 1400px;
}

.home .social-icons .social-media {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Github */
.home .devGit {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.7pt;
    flex-direction: row;
    max-width: 1400px;
    gap: 40px;
}
.home .devGit img{
    max-width: 600px;
    width: 100%;
}

.home .devGit h1 {
    margin-top: 1rem;
    font-size: 38px;
    font-weight: 800;
    max-width: 500px;    
    text-align: left;
    width: 100%;
}

.home .devGit h1 .colorEdit {
    position: relative;
}

.home .devGit h1 .colorEdit::after {
    content: "";
    width: 70%;
    height:2px;
    left: 25px;
    bottom: 1px;
    position: absolute;
    background: var(--color-orange);
}

.home .devGit p {
    margin-top: 1rem;
    font-size: 22px;
    max-width: 500px;
}

.home .devGit .socialIcons {
    padding: 14px 32px;
    margin: 1rem auto 0;
    background: rgb(40, 40, 46);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: 0.3s;
    width: 60%;
}

.home .devGit .socialIcons:hover {
    background: rgb(12, 12, 14);
    color: var(--color-orange);
}

.home .devGit .socialIcons .icon {
    margin-right: 8px;
}

.home .social-icons .h1edit {
    border-left: none;
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;   
    max-width: 100%;
    width: 100%;
}

.home .social-icons .h1edit .icon {
    margin-left: 1rem;
}

/* contact and Cards */
.home .social-icons .textInCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem auto 0;
    width: 100%;
}

.home .social-icons .textInCard p {
    margin: 0 0 1.2rem;
    font-size: 22px;
    max-width: 520px;
    word-wrap: break-word;
}

.home .social-icons .cards{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 2fr));
    gap: 30px;    
}

.home .cards .card a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home .social-icons .cards .card {
    cursor: pointer;
}

.home .social-icons .cards .card .nameTwo {
    font-size: 1.1rem;
    transition: 0.2s;
}

.home .social-icons .cards .card:hover .nameTwo{
    color: var(--color-orange);
}

/* Responsive */
@media (max-width: 1500px) {
    .home .devGit img {
        max-width: 500px;
    }
}

@media (max-width: 1100px) {
    .home .social-icons .textInCard {
        max-width: 1100px;
        width: 90%;
    }

    .home .devGit {
        flex-direction: column;
    }
        
    .home .devGit h1 {
        text-align: center;
        width: 90%;
        margin: 1rem auto 0;
        font-size: 2rem;
    }

    .home .social-icons .h1edit {
        font-size: 26px;
        text-align: center;
        width: 100%;
        margin: 0 auto 1rem;
    }
        
    .home .social-icons .textInCard p {
        margin: 0 auto 1.2rem;
        width: 90%;
    }
        
    .home .devGit p {
        width: 90%;
        font-size: 20px;
        margin: 1rem auto 0;
    }
        
    .home .social-icons .cards{
        grid-template-columns: repeat(2, minmax(350px, 2fr));
    }
}

@media (max-width: 800px) {
    .home .social-icons .cards{
        grid-template-columns: repeat(2, minmax(50px, 2fr));
    }

    .home .social-icons .textInCard p {
        font-size: 1.3rem;
    }

    .home .social-icons .h1edit {
        display: block;
    }

    .home .devGit img {
        max-width: 300px;
    }

    .home .devGit .socialIcons {
        padding: 14px 12px;
        width: 60%;
    }
}

@media (max-width: 600px) {
    .home .social-icons .cards{
        grid-template-columns: repeat(1, minmax(50px, 2fr));
        width: 80%;
        margin: 0 auto;
    }
    .home .social-icons .textInCard p,
    .home .devGit p {
        font-size: 1.1rem;
    }

    .home .social-icons .h1edit .icon{
        display: none;
    }
}