@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,300;1,400&family=Rubik:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  color:  #d3e4ff;
}

body {
  /* background: rgb(36, 38, 56); */
  background: black;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}

a {
  scroll-behavior: smooth;
}

:root {
  --color-blue: #1d8eca;
  --color-orange: #db8625;

  --color-js:#f6da3a;
  --color-node: #8cc84b;
  --color-html: #e34f26;
  --color-css: #2965f1;
  --color-postgres: #336791;
  --color-react:  #2ac7e3;
  --color-rn: #5667f9;
}
