.machineEfect {
    font-family: 'IBM Plex Serif', serif;
    font-weight: normal;
    font-size: 3rem;
}

.home {
    margin: 120px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    position: relative;
}
.home .about {
    width: 100%;  
}

.home .about .myAbout {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.home .about .apresentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home .about .apresentation img {
    width: 240px;
    height: 240px;
    padding: 8px;
    border-radius: 50%;
    text-align: center;
    border: 4px solid var(--color-blue);
    object-fit:cover;
}

.home .about .apresentation h1 {
    margin-top: 24px;
    color: #d3e4ff;
    font-size: 32px;
}

/* textsAbout */
.home .about .textsAbout {
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    margin-left: 60px;
}

.home .about .textsAbout h1.colorEdit {
    font-size: 42px;
    letter-spacing: 0.7pt;
    color: var(--color-orange);
}

.colorEdit {
    color:  var(--color-orange);
}

.home .about .textsAbout p {
    max-width: 600px;
    width: 100%;
    font-size: 22px;
    font-weight: 300;
    filter: brightness(96%);
    letter-spacing: 0.7pt;
    text-align: left;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(44, 44, 49);
}
.home .about .textsAbout p .colorEdit {
    color: var(--color-orange);
}

/* Languages */
.home .languages {
    padding: 16px 0 48px;
    margin-top: 1rem;
    width: 100%;
    background: rgb(24, 24, 27);
}

.home .languagesProgramation {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1400px;    
}

/* Languages and social-icons */
.home .cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 2fr));
    gap: 30px;
}

.home .cards .card {
    padding: 36px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius:5px 5px 0px 0px;
    background: rgb(15, 15, 17);
    transition: 0.2s;
}

.home .cards .card:hover {
    background: rgb(33, 33, 36);
}

.home .cards .card h1 {
    word-wrap: break-word;
    text-align: center;
    max-width: 100%;
    font-size: 24px;
    font-weight: bold;
    margin-top: 1em;
}

.home .cards .card i {
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 8px;
    font-size: 70px;
    color: black;
}

.h1editLanguages {
    margin: 3rem 0 1rem;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
}

.home .h1edit {
    font-size: 52px;
    padding-left: 16px;
    margin-bottom: 32px;
    filter: brightness(90%);
    border-left: 4px solid #d3e4ff;
    max-width: 680px;
    width: 100%;
}

.devMessage.machineEfect {
    max-width: 34.5rem;
    min-height: 9.25rem;
    margin: 24px auto 0;
    padding-top: 1rem;
    letter-spacing: 0.9pt;
    color: var(--color-blue);
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.loading .colorEdit {
    color:  var(--color-orange);
}

.myRepositorys {
    width: 100%;
}

.myRepositorys .styleRepository {
    max-width: 1400px;
    width: 100%;
    padding: 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.myRepositorys .repositorys {

}

.myRepositorys .repositorys .repository {
    display: flex;
    align-items: center;
    justify-content: center;
}

.myRepositorys .repositorys .repository.card:hover {
    background: rgb(15, 15, 17);
}

.myRepositorys .repositorys .repository h1 {
    color: var(--color-blue);

}

.myRepositorys .repositorys .repository p {
    margin: 1rem auto 1rem;
    text-align: left;
}

.myRepositorys .repositorys .repository a {
    background: rgb(40, 40, 46);
    padding: 8px 24px;
    border-radius: 8px;
    transition: all 0.3s;
    color: var(--color-blue);
}

.myRepositorys .repositorys .repository a:hover {
    background: rgb(24, 24, 27);
}


/* Responsive */
@media (max-width: 1100px) {
    .home .cards {
        grid-template-columns: repeat(3, minmax(200px, 2fr));
    }

    .home .about .myAbout {
        flex-direction: column;
    }

    .home .about .textsAbout {
        margin-left: 0px;
    }
}

@media (max-width: 800px) {
    .home .cards {
        grid-template-columns: repeat(2, minmax(200px, 2fr));
    }

    .home .about .textsAbout {
        width: 100%;
    }

    .home .about .textsAbout h1.colorEdit, .devMessage.machineEfect {
        text-align: center;
        font-size: 2.4rem;
        max-width: 94%;
        width: 100%;
    }
    .home .about .textsAbout p  {
        font-size: 1.1rem;
        width: 94%;
        text-align: left;
    }
}

@media (max-width: 500px) {
    .home .cards {
        grid-template-columns: repeat(1, minmax(100px, 2fr));
    }

    .home .about .apresentation img {
        width: 180px;
        height: 180px;
    }

    .devMessage.machineEfect {
        font-size: 32px;
    }

    .home .languagesProgramation .cardsDomination,
    .home .languagesProgramation .cardsLearning {
        width: 80%;
    }
}