.myFooter {
    width: 100%;
    margin-top: auto;
    padding: 24px 0;
    border-top: 1px solid #222;
}

.myFooter .footer {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.myFooter .footer .itemsFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 64px;
}

.myFooter .footer .itemsFooter .medias{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 12px;
}

.myFooter .footer .itemsFooter .medias a {
    font-size: 1.8rem;
    transition: 0.3s;
}

.myFooter .footer .itemsFooter .medias a:hover {
    transform:translate3d(-2px, -6px, 30px);
}

.myFooter .footer .itemsFooter p {
    color: var(--color-orange);
    font-size: 1.1rem;

}